* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100%;
    height: 100%;
}

body {
    background-image: url(../img/background.png);
    color: #202020;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, 'Segoe UI', sans-serif;
    min-height: 100vh;
    position: relative;
}

/* CSS - Página de Desconto */

.my-nav {
    background: rgb(218, 205, 195);
    border-radius: 15px;
}

.container-de-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.card-confeitaria {
    background: rgb(235, 226, 219);
    margin-top: 135px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(141, 73, 37, 0.1);
    border: 2px solid #776767;
    text-align: center;
    width: 100%;
    max-width: 320px;
    transition: margin 0.3s ease;
}

h1 {
    color: #8d4925;
    font-size: 1.5rem;
}

.valor-original {
    font-size: 1.2rem;
    color: #a58e8e;
    text-decoration: line-through;
}

.botao-reset {
    background-color: #ca5050;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 25px;
    transition: 0.3s;
    display: none;
}

.botao-reset:hover {
    background-color: #df1717;
    transform: scale(1.05);
}

.botao-desconto {
    background-color: #8d4925;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    transition: 0.3s;
}

.botao-desconto:hover {
    background-color: #5d3a3a;
    transform: scale(1.05);
}

#voucher {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px dashed #eecaca;
    display: none;
}

#recibo {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px dashed #eecaca;
    display: none;
}

.destaque {
    color: #2e7d32;
    font-size: 1.3rem;
    font-weight: bold;
}

.foto-bolo1:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(141, 73, 37, 0.2);
}

.foto-bolo1, .foto-bolo {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.foto-bolo:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(141, 73, 37, 0.2);
}

/* Responsividade */

@media (min-width: 768px) {
    .card-confeitaria {
        margin-top: 135px;
    }
}